{{ if or .Params.bigimg .Title }}
  {{ if isset .Params.bigimg 1 }}
    <div id="header-big-imgs" data-num-img={{len .Params.bigimg}} {{range $i, $img := .Params.bigimg}}data-img-src-{{add $i 1}}="{{$img.src}}" {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}{{end}}></div>
  {{ end }}

  <header class="header-section {{ if isset .Params.bigimg 1 }}has-img{{ end }}">
    <div class="intro-header {{ if isset .Params.bigimg 1 }}big-img{{ else }}no-img{{ end }}">
      {{ partial "header.html" . }}
      <span class="img-desc" style="display: inline;"></span>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}