<header class="header-post">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1>{{ .Title }}</h1>
        {{ if .Description }}
        <h2 class="post-subheading">{{ .Description }}</h2>
        {{ end }}
        <span class="post-meta">Posted on {{ .Date.Format "January 2, 2006" }}</span>
      </div>
     </div>
  </div>
</header>

<article>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  {{ .Content }}
	</div>
  </div>
</article>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="pager blog-pager">
      {{ if .PrevInSection }}
      <li class="previous">
        <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous Post</a>
      </li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="next">
        <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next Post &rarr;</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ if .Site.DisqusShortname }}
<div class="row disqus-comments">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {{ template "_internal/disqus.html" . }}
  </div>
</div>
{{ end }}
